body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#controls {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: sans-serif;
    border-radius: 8px;
    overflow: hidden;
    user-select: none;
    z-index: 9999;
}

#overlay-header {
    padding: 10px;
    cursor: pointer;
    background: rgba(255,255,255,0.1);
}

#overlay-content {
    padding: 10px;
    display: none; 
}
