<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/3d.css">

    <title>3D 3-body problem</title>
    <style>
      body {
        margin: 0;
      }
    </style>
    <script type="importmap">
			{
				"imports": {
					"three": "https://cdn.jsdelivr.net/npm/three@0.161.0/build/three.module.js",
          "jsm/": "https://cdn.jsdelivr.net/npm/three@0.161.0/examples/jsm/"
        }
			}
		</script> 
  </head>
  <body>
    <script type="module" src="../static/js/renderer.js"></script>
    <script type="module" src="../static/js/ui.js"></script>
<!-- Controls -->
    <div id="renderer"></div>
    <div id="controls">
        <div id="overlay-header">Controls ▼</div>
        <div id="overlay-content">
            <button id="pauseButton">Pause/Play</button>
            <button id="resetButton">Reset</button>
            <input id="windTimestep">Wind to</input>
            <button id="windButton">Wind</button>
            <button id="addButton">Add</button>
            <button id="removeButton">Remove Last</button>

        </div>
    </div>

<!-- Editing the balls -->
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
 
</body>
</html>