<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/3d.css">

    <title>3D 3-body problem</title>
    <style>
      body {
        margin: 0;
      }
    </style>
    <script type="importmap">
			{
				"imports": {
					"three": "https://cdn.jsdelivr.net/npm/three@0.161.0/build/three.module.js",
          "jsm/": "https://cdn.jsdelivr.net/npm/three@0.161.0/examples/jsm/"
        }
			}
		</script> 
  </head>
  <body>
    <script type="module" src="../static/js/renderer.js"></script>
    <script type="module" src="../static/js/ui.js"></script>
<!-- Controls -->
    <div id="renderer"></div>
    <div id="controls">
        <div id="overlay-header">Controls ▼</div>
        <div id="overlay-content">
            <button id="pauseButton">Pause/Play</button>
            <button id="resetButton">Reset</button>
            <p>Wind to timestep</p>
            <input id="windTimestep"></input>
            <button id="windButton">Wind</button>
            <button id="addButton">Add</button>
            <button id="removeButton">Remove Last</button>
            <button id="followButton">Toggle following</button>
            <button id="openButton">Edit Body Info</button>

        </div>
    </div> 

<!-- Editing the balls -->
<div id="mySidebar" class="sidebar">
  <h1 id = "bodyinfoheader">Body Info</h1>
  <a href="javascript:void(0)" id="closebtn"  >×</a>
  
<p>Position (x,y,z)</p>
<div class = 'inputs'>

<div class="x">
<input id="pos-x" class="bodyinput x-group" type="number" step="any" placeholder="x" />
<input id="pos-y" class="bodyinput x-group" type="number" step="any" placeholder="y" />
<input id="pos-z" class="bodyinput x-group" type="number" step="any" placeholder="z" />
</div>


<p>Velocity (x,y,z)</p>
<div class="v">
<input id="vel-x" class="bodyinput v-group" type="number" step="any" placeholder="x" />
<input id="vel-y" class="bodyinput v-group" type="number" step="any" placeholder="y" />
<input id="vel-z" class="bodyinput v-group" type="number" step="any" placeholder="z" />
</div>

<p>Acceleration (x,y,z)</p>
<div class="a">
<input id="acc-x" class="bodyinput a-group" type="number" step="any" placeholder="x" />
<input id="acc-y" class="bodyinput a-group" type="number" step="any" placeholder="y" />
<input id="acc-z" class="bodyinput a-group" type="number" step="any" placeholder="z" />
</div>


<p>Mass</p>
<input id="mass"class="bodyinput"   type="number" step="any" placeholder="Mass" style="width: 100%; margin-bottom: 10px;" />

<p>Radius</p>
<input id="radius" class="bodyinput" type="number" step="any" placeholder="Radius" style="width: 100%; margin-bottom: 10px;" />

</div>

<button id="prevBall">Previous</button>
<button id="nextBall">Next</button>

<!-- <button id="add-body">Add Body</button> -->
</div>
 
</body>
</html>